ACCESS_TOKEN_EXPIRE_MINUTES = 28800
SECRET_KEY = 'hlgsNwhxnlXXz3NXYtzBPbHLLBbDkUoFSbomN6eo='
ALGORITHM = HS256
FIRST_SUPERUSER = admin@email.com
FIRST_SUPERUSER_PASSWORD = admin

ROOT_URL = http://localhost:8000/
SUBMISSION_DIR = static/submissions/
SOLUTION_PATH = static/solutions/solution.csv

DATA_INSIGHTS_DIR = static/data_insights/

CORS_ORIGINS = ["*"]

DATABASE_USERNAME = postgres 
DATABASE_PASSWORD = postgres 
DATABASE_HOSTNAME = localhost
DATABASE_PORT = 5432
DATABASE_NAME = ailocus

DEBUG = true 

