ACCESS_TOKEN_EXPIRE_MINUTES = 1440
SECRET_KEY = ac8bbf8782ac1b62988e2e6fa9b475583d1554eb73fd14bcb737637bf8042322
ALGORITHM = HS256
FIRST_SUPERUSER = admin@email.com
FIRST_SUPERUSER_PASSWORD = admin
UPLOAD_FOLDER_IMAGES = static/uploads/images/
UPLOAD_FOLDER_FINGERPRINTS = static/uploads/fingerprints/

ROOT_URL = http://localhost:8000/
SUBMISSION_DIR = static/submissions/
PARTIAL_SOLUTION_PATH = static/solutions/partial_solution.csv
COMPLETE_SOLUTION_PATH = static/solutions/complete_solution.csv

DATABASE_USERNAME = ddmsuser
DATABASE_PASSWORD = password
DATABASE_HOSTNAME = localhost
DATABASE_PORT = 5432
DATABASE_NAME = ddms 


DEBUG = true 

POSTGRES_USER=ddmsuser
POSTGRES_PASSWORD = password 
POSTGRES_DB=postgres 